module main

import cli
import cli_builder
import os
import x.json2 { Any }

fn main() {
    mut app := cli.Command{
        name: "@api.info.title"
        description: "@api.info.description"
        execute: fn (cmd cli.Command) ? {
			println(cmd.help_message())
			return
		}
    }

	mut cmd := cli.Command{}
	mut content_types := []string{}
@for path, path_item in api.paths
	@for method, operation in path_item.operations
	// -------------- New Command -------------- //

	if "@operation.operation_id" != "" {
    	cmd = cli.Command{
    	    name: "@operation.operation_id"
			description: "@operation.description"
    	}

		content_types = @operation.get_request_body().content.keys()
		if content_types.len > 0 {
			cmd.add_flag(cli.Flag{
				flag: cli.FlagType.string
				name: 'body'
			})
		}
		@for parameter in operation.get_parameters()
		if '@parameter.location' == 'path' {
			cmd.add_flag(cli.Flag{
				flag: cli.FlagType.string
				name: '@parameter.name'
				required: @parameter.required
			})
		}
		@end
    	cmd.execute = fn (cmd cli.Command) ? {
			cli_builder.execute_command("@method", "@{api.servers[0].url}" + "@path", @operation.get_request_body().content.keys(), cmd) ?
		}

    	app.add_command(cmd)
	}

	@end
@end
    app.setup()
    app.parse(os.args)
}