module main

import cli
import os
import flag

fn main() {

    mut app := cli.Command{
        name: '@title'
        description: '@description'
        execute: fn (cmd cli.Command) ? {
            print_help_for_command(cmd)
        }
    }
    
    app.add_command([
@for operation in operations
        cli.Command{
            name: '@{operation.operation_id}'
            execute: fn (cmd cli.Command) ? {
                println('hello @{operation.operation_id}')
                return
            }
        }
@end
    ])

    app.setup()
    app.parse(os.args)
}