module main

import cli
import os
import flag

fn main() {

    mut app := cli.Command{
        name: '@title'
        description: '@description'
        execute: fn (cmd cli.Command) ? {
            print_help_for_command(cmd)
        }
    }
    
    @for operation in operations
        mut cmd := cli.Command{
            name: '@operation.operation_id'
        }

        @if @operation.description.len > 0
            cmd.description = @operation.description
        @end



        cmd.execute = {

        }

        app.add_command(cmd)
    @end

    app.setup()
    app.parse(os.args)
}